@import "style/aboutMe.css";
@import "style/hobbies.css";
@import "style/skills.css";
@import "style/studies.css";
@import "style/portofolio.css";
@import "style/contact.css";
@import "style/footer.css";
@import "style/responsive.css";
@import "style/print.css";
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Amatic SC', cursive;
}

nav {
    max-width: 1140px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 10;
}

header ul li {
    display: inline-block;
    margin-left: 35px;
}

header ul li a {
    font-size: 25px;
    text-decoration: none;
    line-height: 72px;
    color: #ffffff;
    display: block;
    position: relative;
}

header ul li a::before {
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}

header ul li a:hover::before {
    width: 100%;
    left: 0;
}

header ul li a.active1::before {
    width: 100%;
    left: 0;
}

.home {
    min-height: 100vh;
    background-image: url(assets/3.jpg);
    background-size: cover;
    background-position: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.home .block {
    padding-left: 35px;
    border-left: 5px solid #ffffff;
    margin: 200px 0 0 80px;
}

.home .block h6 {
    color: #ffffff;
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.home .block h1 {
    color: #ffffff;
    font-size: 60px;
}

.home .block h3 {
    color: #ffffff;
    font-size: 35px;
}

.home .block .btn {
    padding-top: 20px;
}

.home .block .btn a {
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    transition: all .5s ease;
    background-color: transparent;
}

.home .block .btn a:hover {
    background-color: red;
    color: #000000;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}