footer {
    background-color: #555;
    color: transparent;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #FAC70C;
}

.ftSocialList {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.ftSocialList li {
    margin: 8px;
}