.portofolioColumns {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
}

.portofolioColumns h5 {
    font-size: 25px;
}

.portofolio .column .git {
    width: 30px;
    height: 30px;
    border-radius: 25px;
}

.portofolio .column iframe {
    width: 800px;
    height: 400px;
}

.portofolio .column img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.portofolio .column {
    float: left;
    width: 30%;
    padding: 15px 0 50px 0;
}