@media screen and (max-width:1024px) {
    header {
        width: 100%;
        background-color: #555;
    }
    header .navbar ul li a {
        color: black;
    }
    .aboutText p {
        font: bold 11px;
    }
    .aboutBtn {
        margin-left: 0px;
        padding-top: 100px;
    }
    .skills .professionalSkills {
        margin-left: 0px;
    }
    .skills .personalSkills img {
        margin-left: 0px;
        width: 160px;
        height: 160px;
    }
    .hobbies .hobbiesContainer img {
        width: 130px;
        height: 130px;
    }
    .portofolioColumns,
    .contactMe .contactMeColumns {
        font-size: 20px;
    }
    .portofolioColumns {
        flex-flow: column wrap;
    }
    .portofolio .column iframe {
        width: 550px;
        height: 400px;
    }
    .contactMe .contactMeColumns .column p {
        font-size: 30px;
    }
}

@media screen and (max-width:400px) {
    header {
        background-color: #555;
    }
    header nav ul li a {
        color: black;
    }
    .home .block {
        display: none;
    }
    .aboutBtn {
        margin-left: 0px;
        padding-top: 100px;
    }
    .aboutMe p {
        margin-left: 0px;
        font-size: 12px;
    }
    .aboutText p {
        font: bold 11px;
    }
    .skills .professionalSkills {
        margin-left: 0px;
    }
    .skills .personalSkills img {
        margin-left: 0px;
        width: 160px;
        height: 160px;
    }
    .portofolioColumns {
        flex-flow: column wrap;
        align-items: flex-start;
    }
    .portofolio .column iframe {
        width: 350px;
        height: 300px;
    }
    .portofolioColumns,
    .contactMe .contactMeColumns {
        font-size: 20px;
    }
    .hobbies .hobbiesContainer img {
        width: 130px;
        height: 130px;
    }
    .contactMe .contactMeColumns .column p {
        font-size: 15px;
    }
}